@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

Most recent

@foreach (var image in Model.LasestImages)
    {
<a asp-controller="View" asp-action="View" asp-route-id="@image.ImageID">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/api/Photo/@image.ImageID/Thumbnail" asp-append-version="true" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@image.ImageTitle</h5>
            <p class="card-text">Comments: @image.Comments.Count</p>
        </div>
    </div>
</a>
    }
