@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Recently Added</h3>
</div>

    @foreach (var image in Model.LasestImages)
    {

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/api/Photo/@image.ImageID/Thumbnail" asp-append-version="true" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@image.ImageTitle</h5>
                <p class="card-text">Comments: @image.Comments.Count</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }




