@model RailGallery.Models.Locomotive

@{
    ViewData["Title"] = "Add Locomotive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocomotiveModel" class="control-label"></label>
                <input asp-for="LocomotiveModel" class="form-control" />
                <span asp-validation-for="LocomotiveModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocomotiveBuilt" class="control-label"></label>
                <input asp-for="LocomotiveBuilt" class="form-control" />
                <span asp-validation-for="LocomotiveBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <input type="submit" value="Add Locomotive" class="btn btn-primary" />
                    </div>
                    <div class="col-auto">
                        <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
