@model RailGallery.Models.Image
@using RailGallery.Enums; 

@{
    ViewData["Title"] = "Upload Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageTitle" class="control-label"></label>
                <input asp-for="ImageTitle" class="form-control" />
                <span asp-validation-for="ImageTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageDescription" class="control-label"></label>
                <textarea asp-for="ImageDescription" class="form-control"></textarea>
                <span asp-validation-for="ImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Albums" class="control-label"></label>
                <select asp-for="Albums" class="form-control">
                    <option value="">Select Album</option>
                </select>
                <span asp-validation-for="Albums" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locomotive.LocomotiveModel" class="control-label"></label>
                <input asp-for="Locomotive.LocomotiveModel" class="form-control">
                <span asp-validation-for="Locomotive.LocomotiveModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locomotive.LocomotiveBuilt" class="control-label"></label>
                <input asp-for="Locomotive.LocomotiveBuilt" class="form-control">
                <span asp-validation-for="Locomotive.LocomotiveBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationName" class="control-label"></label>
                <input asp-for="Location.LocationName" class="form-control">
                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageTakenDate" class="control-label"></label>
                <input asp-for="ImageTakenDate" class="form-control" />
                <span asp-validation-for="ImageTakenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePrivacy" class="control-label"></label>
                <select asp-for="ImagePrivacy" class="form-control" asp-items="Html.GetEnumSelectList<Privacy>()"></select>
                <span asp-validation-for="ImagePrivacy" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/jpg" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <input type="submit" value="Upload" class="btn btn-primary" />
                    </div>
                    <div class="col-auto">
                        <a asp-action="History">Upload History</a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
