@model RailGallery.Models.Comment
<h4>New Comment</h4>
<hr />
@if (User.Identity.IsAuthenticated) // Check if the user is authenticated, render the following HTML
{
    <div class="row">
        <div class="col-xl">
            <form asp-controller="Comments" asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CommentText" class="control-label"></label>
                    <textarea asp-for="CommentText" class="form-control"></textarea>
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                    <input type="hidden" asp-for="CommentImageID" value="@Model.Image.ImageID" class="form-control" />
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Publish Comment" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
else // If the user is not authenticated, display the message
{
    <div><p><a asp-area="Identity" asp-page="/Account/Login">Log in</a> to post a comment.</p></div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
