@model RailGallery.Models.ApplicationUser
@{
    ViewData["Title"] = "Modify " + ViewBag.username + "'s access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-action="UpdateAccess" method="post">
            <h4>@ViewData["Title"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            @if (ViewBag.Lockout) // If the account is currently locked out, check the Disabled radio button
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="access" id="enabled" value="enabled">
                    <label class="form-check-label" for="enabled">
                        Account enabled
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="access" id="disabled" value="disabled" checked>
                    <label class="form-check-label" for="disabled">
                        Account disabled
                    </label>
                </div>
            }
            else // If the account is not locked out, check the Enabled radio button
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="access" id="enabled" value="enabled" checked>
                    <label class="form-check-label" for="enabled">
                        Account enabled
                    </label>
                </div>
                <div class="form-check mb-3">
                    @if (ViewBag.username == "Moderator") // If the username is moderator, disable the controls (prevents from disabling the master account)
                    {
                        <input class="form-check-input" type="radio" name="access" id="disabled" value="disabled" disabled>
                        <label class="form-check-label" for="disabled">Account disabled</label> <small class="text-secondary">(this account cannot be disabled)</small>
                    }
                    else
                    {
                        <input class="form-check-input" type="radio" name="access" id="disabled" value="disabled">
                        <label class="form-check-label" for="disabled">Account disabled</label>
                    }


                </div>
            }

            <input type="hidden" name="username" value="@ViewBag.username" />

            <div class="form-group">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <input type="submit" value="Update Access" class="btn btn-primary" />
                    </div>
                    <div class="col-auto">
                        <a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
